@import "tailwindcss";

@layer components {
  /* 🎨 Headline */
  .h1-headline { font-weight: var(--font-weight-bold); font-size: 72px; line-height: 110%; }
  .h2-headline { font-weight: var(--font-weight-semibold); font-size: 48px; line-height: 110%; }
  .h3-headline { font-weight: var(--font-weight-semibold); font-size: 40px; line-height: 120%; }
  .h4-headline { font-weight: var(--font-weight-semibold); font-size: 32px; line-height: 120%; }
  .h5-headline { font-weight: var(--font-weight-semibold); font-size: 28px; line-height: 120%; }
  .h6-headline { font-weight: var(--font-weight-semibold); font-size: 24px; line-height: 120%; }

  /* 🎨 Subtitle */
  .s1-subtitle { font-weight: var(--font-weight-semibold); font-size: 18px; line-height: 140%; }
  .s2-subtitle { font-weight: var(--font-weight-semibold); font-size: 16px; line-height: 150%; }

  /* 🎨 Body */
  .b1-body { font-weight: var(--font-weight-normal); font-size: 16px; line-height: 150%; }
  .b2-body { font-weight: var(--font-weight-medium); font-size: 16px; line-height: 150%; }
  .b3-body { font-weight: var(--font-weight-normal); font-size: 14px; line-height: 150%; }
  .b4-body { font-weight: var(--font-weight-medium); font-size: 14px; line-height: 150%; }

  /* 🎨 Capxion */
  .c1-body { font-weight: var(--font-weight-normal); font-size: 12px; line-height: 150%; }
  .c2-body { font-weight: var(--font-weight-medium); font-size: 12px; line-height: 150%; }
  .c3-body { font-weight: var(--font-weight-medium); font-size: 10px; line-height: 150%; }

  /* 🎨 Label */
  .custom-label { font-weight: var(--font-weight-medium); font-size: 12px; line-height: 150%; }

  /* 🎨 Button Fonts */
  .button-h { font-weight: var(--font-weight-semibold); font-size: 24px; line-height: 140%; }
  .button-g { font-weight: var(--font-weight-semibold); font-size: 18px; line-height: 140%; }
  .button-lg { font-weight: var(--font-weight-semibold); font-size: 16px; line-height: 150%; }
  .button-md { font-weight: var(--font-weight-semibold); font-size: 14px; line-height: 150%; }
  .button-sm { font-weight: var(--font-weight-semibold); font-size: 12px; line-height: 150%; }
  .button-tiny { font-weight: var(--font-weight-semibold); font-size: 10px; line-height: 150%; }

  .font-founders {
    font-family: 'FoundersGrotesk', sans-serif;
  }
  
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
}


@theme {
  /* 🎨 Orange Colors */
  --color-orange-light: #FDF2E6; 
  --color-orange-light-hover: #FCECD9; 
  --color-orange-light-active: #F8D7B0; 
  --color-orange-normal: #EA7E01; 
  --color-orange-normal-hover: #D37101; 
  --color-orange-normal-active: #BB6501; 
  --color-orange-dark: #B05F01; 
  --color-orange-dark-hover: #8C4C01; 
  --color-orange-dark-active: #693900; 
  --color-orange-darker: #522C00; 

  /* 🎨 Grey Colors */
  --color-grey-light: #F2F2F2; 
  --color-grey-light-hover: #EBEBEB; 
  --color-grey-light-active: #D6D6D6; 
  --color-grey-normal: #7A7A7A; 
  --color-grey-normal-hover: #6E6E6E; 
  --color-grey-normal-active: #626262; 
  --color-grey-dark: #5C5C5C; 
  --color-grey-dark-hover: #494949; 
  --color-grey-dark-active: #373737; 
  --color-grey-darker: #2B2B2B; 


  /* 📱 Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  /* 📦 Container */
  --container-max-width: 1200px;

  /* 📏 Espaciado y tamaños */
  --spacing-4: 1rem;
  --spacing-8: 2rem;
  --spacing-16: 4rem;

}
  /* Importación de fuentes */
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders/FoundersGrotesk-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders/FoundersGrotesk-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders/FoundersGrotesk-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders/FoundersGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders/FoundersGrotesk-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders/FoundersGrotesk-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders/FoundersGrotesk-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders/FoundersGrotesk-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders/FoundersGrotesk-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders/FoundersGrotesk-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
  }
  

/* Configuración global */
:root {
  --font-primary: "Founders Grotesk", sans-serif;
  --font-secondary: "Inter", sans-serif;
}


